* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix {
  clear: both;
}
.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: url("https://images.unsplash.com/photo-1619995745882-f4128ac82ad6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"),
    url("https://images.unsplash.com/photo-1619995745882-f4128ac82ad6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: scroll, scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
  width: 50%;
}
.logo {
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  min-height: 30px;
  text-align: center;
  line-height: 30px;
  color: #4d114f;
  font-size: 23px;
}
.menu {
  float: right;
  width: 50%;
}
.menu-item {
  float: right;
  font-size: 15px;
  color: #eee;
  width: 130px;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #c6c6c6;
}
.lead-btn {
  margin-top: 15px;
  padding: 10px;
  width: 190px;
  min-height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
  background-color: #d983a6;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.lead-btn:hover {
  background-color: #ffffff;
  color: #4c114e;
}
.lead-btn:active {
  background-color: #4d114f;
  color: #fff;
}
.bdg-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: #fafafa;
}
.bdg-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 55px;
  color: #555555;
}
.badges {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.badge {
  width: 290px;
  font-family: Helvetica, serif;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;
}
.badge-header {
  height: 115px;
  background-image: url("https://media.istockphoto.com/id/912159594/vi/anh/l%C3%A0n-s%C3%B3ng-m%E1%BB%81m-m%E1%BA%A1i-c%E1%BB%A7a-n%C6%B0%E1%BB%9Bc-bi%E1%BB%83n-m%C3%A0u-ng%E1%BB%8Dc-lam-tr%C3%AAn-b%C3%A3i-bi%E1%BB%83n-%C4%91%E1%BA%A7y-c%C3%A1t-c%E1%BA%ADn-c%E1%BA%A3nh-v%C3%A0-ngay-ph%C3%ADa-tr%C3%AAn.jpg?s=612x612&w=0&k=20&c=IZV_BDnt8c4UoWVJK9YAsMd1HlNmSxUxoYDPMQkW8h8="),
    url("https://media.istockphoto.com/id/912159594/vi/anh/l%C3%A0n-s%C3%B3ng-m%E1%BB%81m-m%E1%BA%A1i-c%E1%BB%A7a-n%C6%B0%E1%BB%9Bc-bi%E1%BB%83n-m%C3%A0u-ng%E1%BB%8Dc-lam-tr%C3%AAn-b%C3%A3i-bi%E1%BB%83n-%C4%91%E1%BA%A7y-c%C3%A1t-c%E1%BA%ADn-c%E1%BA%A3nh-v%C3%A0-ngay-ph%C3%ADa-tr%C3%AAn.jpg?s=612x612&w=0&k=20&c=IZV_BDnt8c4UoWVJK9YAsMd1HlNmSxUxoYDPMQkW8h8=");
  background-position: left top, center center;
  background-attachment: scroll, fixed;
  overflow: hidden;
  object-fit: cover;
}
.badge-name {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: #000;
}
.badge-role {
  color: #777;
  font-size: 1em;
  margin-bottom: 25px;
}
.badge-desc {
  font-size: 0.85rem;
  line-height: 20px;
}
.badge-avatar {
  width: 120px;
  height: 220px;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-top: -75px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.badge-body {
  margin: 35px 10px;
}
.badge-foot {
  color: #fff;
  background-color: #a290a5;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
}
.badge-link {
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: block;
  border-radius: 2rem;
  padding: 3px;
  &:hover {
    color: #a290a5;
  }
}
#i4ij {
  position: static;
  float: none;
}
.add-button {
  width: 290px;
  font-family: Helvetica, serif;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;

  &:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
    cursor: pointer;
  }
}
.goto-link {
  color: #fff;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}
.badge-foot span {
  margin-right: 8px;
}

.badge-foot .arrow-icon {
  font-size: 1.2em;
  vertical-align: middle;
  margin-top: 6px;
}
.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: none; /* Initially hide the iframe until it's fully loaded */
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
