@if (valueUserNameCard) {
<div class="full-screen-iframe-container">
  <iframe [src]="safeUrl" allow="fullscreen" frameborder="0"></iframe>
  <div class="button-container">
    <button
      type="button"
      style="padding: 0px 20px"
      color="primary"
      mat-raised-button
      (click)="btn_OpenShareDialog()"
    >
      Share
      <mat-icon>share</mat-icon>
    </button>

    <button
      type="button"
      style="padding: 20px"
      color="secondary"
      mat-raised-button
      (click)="btn_EditUserNameCard()"
    >
      Chỉnh sửa
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
}@else {
<div class="d-flex align-items-center justify-content-center vh-100">
  <mat-spinner></mat-spinner>
</div>
}
