<div
  class="col-12 d-flex align-items-center justify-content-center gap-2"
  style="height: 100vh"
>
  <button
    mat-raised-button
    class="fs-20 p-24"
    color="warn"
    type="button"
    routerLink="/name-card/register"
  >
    Trang đăng ký
    <mat-icon>app_registration</mat-icon>
  </button>
  <button
    mat-raised-button
    class="fs-20 p-24"
    color="primary"
    type="button"
    routerLink="/templates"
  >
    Quản lý template (Admin)
    <mat-icon>web</mat-icon>
  </button>
</div>
