<div class="header">
  @if (valueTemplate) {
  <h2 class="header-title">Chỉnh sửa name card</h2>
  <button
    class="me-3"
    mat-raised-button
    color="primary"
    (click)="btn_UserNameCard_InsertUpdate(this.valueTemplate.id)"
  >
    <mat-icon>edit</mat-icon>
    Chỉnh sửa
  </button>
  } @else {
  <h2 class="header-title">Tạo vcard</h2>
  }
  <span class="jss420"></span>
  <div class="me-3">
    <button mat-icon-button routerLink="/">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="container">
  <!-- Left Side: User Information Form -->
  <div class="left-side">
    <mat-card>
      <h6 style="font-weight: bold" class="text-center mt-5">
        Đăng ký thông tin
      </h6>
      <mat-card-content>
        <form [formGroup]="formRegister">
          <table class="example-full-width mb-3" cellspacing="0">
            <tr>
              <td>
                <div
                  ngx-dropzone
                  [accept]="'image/*'"
                  (change)="onSelectFile($event, 0)"
                  [multiple]="false"
                  class="me-3 ngx-dropzone"
                  style="height: 120px; max-width: 100%"
                >
                  <ngx-dropzone-label>
                    <button mat-button type="button">
                      <i class="material-icons">add_photo_alternate</i>
                    </button>
                    <span class="fs-12 mt-3">Ảnh đại diện</span>
                  </ngx-dropzone-label>
                  @if (valueFileAvatar) {
                  <ngx-dropzone-image-preview
                    [file]="valueFileAvatar"
                    [removable]="true"
                    (removed)="onRemoveFile(valueFileAvatar, 0)"
                  >
                  </ngx-dropzone-image-preview>
                  }
                </div>
              </td>
              <td>
                <div
                  ngx-dropzone
                  [accept]="'image/*'"
                  (change)="onSelectFile($event, 1)"
                  [multiple]="false"
                  style="height: 120px"
                  class="ngx-dropzone"
                >
                  <ngx-dropzone-label>
                    <button mat-button type="button">
                      <i class="material-icons">add_photo_alternate</i>
                    </button>
                    <span class="fs-12 mt-3">Thêm ảnh bìa</span>
                  </ngx-dropzone-label>
                  @if (valueFileCoverPhoto) {
                  <ngx-dropzone-image-preview
                    [file]="valueFileCoverPhoto"
                    [removable]="true"
                    (removed)="onRemoveFile(valueFileCoverPhoto, 1)"
                  >
                  </ngx-dropzone-image-preview>
                  }
                </div>
              </td>
            </tr>
          </table>
          @if (valueAvatar && valueCoverPhoto && valueTemplate) {
          <table class="example-full-width mb-5 mt-2" cellspacing="0">
            <tr>
              <td>
                <div class="img-preview">
                  <img
                    width="100%"
                    height="160px"
                    [src]="valueAvatar"
                    alt="Avatar"
                    class="rounded"
                  />
                </div>
              </td>
              <td>
                <div class="img-preview">
                  <img
                    width="100%"
                    height="160px"
                    [src]="valueCoverPhoto"
                    alt="Cover Photo"
                    class="rounded"
                  />
                </div>
              </td>
            </tr>
          </table>
          }

          <mat-form-field class="w-100" appearance="outline">
            <mat-label style="font-size: 14px">Họ và tên</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="fullName"
              [class.is-invalid]="
                formRegister.get('fullName')?.invalid &&
                formRegister.get('fullName')?.touched
              "
            />
            @if (formRegister.get('fullName')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              Họ và tên không được để trống
            </mat-error>
            }
          </mat-form-field>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label style="font-size: 14px">Số điện thoại</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="phoneNumber"
                    [class.is-invalid]="
                      formRegister.get('phoneNumber')?.invalid &&
                      formRegister.get('phoneNumber')?.touched
                    "
                  />
                  @if (formRegister.get('phoneNumber')?.hasError('required')) {
                  <mat-error style="font-size: 12px">
                    Số điện thoại không được để trống
                  </mat-error>
                  }
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label style="font-size: 14px">Email</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="email"
                    [class.is-invalid]="
                      formRegister.get('email')?.invalid &&
                      formRegister.get('email')?.touched
                    "
                  />
                  @if (formRegister.get('email')?.hasError('required')) {
                  <mat-error style="font-size: 12px">
                    Email không được để trống
                  </mat-error>
                  } @if (formRegister.get('email')?.hasError('email')) {
                  <mat-error style="font-size: 12px">
                    Email không đúng đinh dạng.
                  </mat-error>
                  }
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label style="font-size: 14px">Tên công ty</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="companyName"
              [class.is-invalid]="
                formRegister.get('companyName')?.invalid &&
                formRegister.get('companyName')?.touched
              "
            />
            @if (formRegister.get('companyName')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              Tên công ty không được để trống
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label style="font-size: 14px">Chức vụ</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="position"
              [class.is-invalid]="
                formRegister.get('position')?.invalid &&
                formRegister.get('position')?.touched
              "
            />
            @if (formRegister.get('position')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              Chức vụ không được để trống
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label style="font-size: 14px">Địa chỉ công ty</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="companyAddress"
              [class.is-invalid]="
                formRegister.get('companyAddress')?.invalid &&
                formRegister.get('companyAddress')?.touched
              "
            />
            @if (formRegister.get('companyAddress')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              Địa chỉ công ty không được để trống
            </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label style="font-size: 14px">Website (url)</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="websiteUrl"
              [class.is-invalid]="
                formRegister.get('websiteUrl')?.invalid &&
                formRegister.get('websiteUrl')?.touched
              "
            />
            @if (formRegister.get('websiteUrl')?.hasError('required')) {
            <mat-error style="font-size: 12px">
              Website không được để trống
            </mat-error>
            }
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Right Side: Name Card Templates -->

  <div class="right-side">
    <mat-card>
      @if (valueTemplate) {

      <h6 style="font-weight: bold" class="text-center mt-5">Mẫu đã chọn</h6>

      <mat-card-content>
        <div class="full-screen-iframe-container">
          <iframe [src]="safeUrl" allowfullscreen frameborder="0"></iframe>
        </div>
      </mat-card-content>
      }@else {
      <h6 style="font-weight: bold" class="text-center mt-5">
        Chọn mẫu mà bạn thích
      </h6>
      <mat-card-content>
        <div class="template-grid-register">
          @for (template of listNameCardTemplates; track $index) {
          <div class="template-item">
            <div class="template-thumbnail">
              <img [src]="template.thumbnail" alt="Template" />
            </div>
            <button
              class="create-button"
              mat-raised-button
              (click)="btn_UserNameCard_InsertUpdate(template.id)"
            >
              Chọn mẫu
              <mat-icon>add</mat-icon>
            </button>
          </div>
          }
        </div>
      </mat-card-content>
      }
    </mat-card>
  </div>
</div>
